//Layout mobile small

body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    'header header header'
    'nav section section'
    'nav section section'
    'nav section section'
    'nav aside aside'
    'footer footer footer';
    width: 100%; 
    max-width: 768px;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

section{
    grid-area: section;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

// Header

header{
    padding: 5px 15px;
    background-color: #333;
    h1{
        color: #fff;
        padding-left: 10px;
        font-size: 1.5rem;
        font-weight: 200;
        

        i{
            padding-right: 20px;
        }
    }
    
}

// Nav

nav{
    background-color: #333;
    ul{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        li a{
            color: #fff;
            padding: 0 5px;
        }
    }
}

// Section

section{
    background-color: #333;
    color: #fff;
    

    article{
        padding-left: 10px;

        h2{
            color: aquamarine;
            text-align: right;
            border-bottom: 1px solid yellowgreen;
        }
    }
}



// Aside

aside{
    padding: 20px;
    background-color: #333;
    color: #fff;

    div figure{
        width: max-content;
        margin: auto;

        figcaption{
            text-align: center;
        }
        
    }

}



// Footer

footer{
    background-color: #333;
    color: #fff;

    h3{
        
        font-weight: 100;
        font-size: 1rem;
        text-align: center;
        padding: 10px;
    }

    p{
        text-align: center;
    }


}






