body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'header nav nav nav footer'
    'header section section section footer'
    'header section section section footer'
    'header aside aside aside footer';
    background-color: darkslategray;
    color: bisque;
}


header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

section{
    grid-area: section;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

// Header

header{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    
    h1{
        transform: rotate(-90deg);

        i{
            padding-right: 5px;
        }
        
    }
}

// Nav

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    li a{
        color: bisque;
        padding: 0 15px;
    }

}

// Section

section{
    display: flex;
    justify-content: space-around;
    margin: 15px;

    article{
        margin: 5px 10px;
        padding: 9px;
        border-radius: 15px;
        box-shadow: 0 0 20px #fff
    }
}

// Aside

aside div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;

    figure{
        border: .5px dashed #fff;
        border-radius: 15px;
        margin: 0 .5rem;
    } 
    
        img{
        border-radius: 50%;
        }

        figcaption{
        text-align: center;
        }
}

// Footer

footer{
    text-align: center;
    padding-top: 5rem;

    p{
        padding: 2rem 0;
    }


    iframe{
        margin: 15px 0;
        height: 100%;
    }
}